
workspace/install/
workspace/build/
workspace/src/__pycache__/
workspace/src/build/
workspace/src/lib/
workspace/src/install/
workspace/src/ros2-ORB_SLAM2/

.vscode/.ropeproject/

log/
libs/


*.pyc
*.bag
